:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffff;
  color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color: #ffffff;
}
body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
textarea {
  resize: none;
}

#app {
  width: 100vw;
  height: 100dvh;
  overflow: scroll;
}

.container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}
.main-table {
  margin: 1rem auto;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}
.cell-name {
  width: 150px;
}
.cell-created {
  width: 100px;
}
.cell-category {
  width: 100px;
}
.cell-content {
  width: 250px;
}

.cell-mention {
  white-space: nowrap;
  overflow: scroll;
  padding: 0.5rem;
  border-spacing: 0;
  width: 150px;
}
.cell-operation {
  width: 75px;
  padding: 0.5rem;
}
.cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  border-spacing: 0;
}
.row {
  background: gray;
  margin-bottom: 2rem;
}

img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
a {
  margin: 0 auto;
}
thead > tr {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}
thead > tr > th {
  padding: 0.5rem;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}
tbody tr:nth-child(odd) {
  background-color: #fff;
}
tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
tbody tr:nth-child(even) {
  background-color: #eee;
}
tbody tr:hover {
  background-color: #ddd;
}

.table-content {
  align-items: start;
  justify-content: start;
  text-align: start;
  vertical-align: top;
}
.btns-cell {
  display: flex;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 0.5rem;
}
.btn:hover {
  background-color: #000000;
  color: #ffffff;
  scale: 1.05;
}
.btn-primary {
  background-color: #000000;
  color: #ffffff;
}

.btn-add-note {
  margin: 1rem 0 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.btn-close-modal {
  background-color: inherit;
  font-size: medium;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid;
}

/*create note*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000000;
  z-index: 5;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 10;
  border-radius: 1rem;
  width: clamp(300px, 50%, 500px);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-note {
  display: flex;
  flex-direction: column;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.modal-window input,
textarea,
select {
  padding: 0.5rem;
  font-size: 1rem;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
}
.hidden {
  display: none;
}
